
<br>
<div>
<section class="pagtit">
  <h1>Tudo o que você precisa saber sobre o carro hatch, picape e sedan</h1>
</section>
</div>
<br>


<div>
  <section class="title">
    <h3>HATCH</h3>
  </section>
  <section class="divisao">
  <div class="imagem">
        <img class="img" src="https://i.ibb.co/WkP5SXK/hatch.jpg" >
    </div>
  <div class="texto">O termo hatch vem de hatchback,     palavra inglesa usada para se referir a carros com uma traseira com comporta. Como seu próprio nome já diz, os hatches têm uma porta em sua traseira, diferenciando-se de outros modelos, como o sedan — que tem uma espécie de “tampa”.

  Os automóveis dessa categoria apresentam um tamanho compacto e oferecem algumas vantagens, como boa dirigibilidade e maior facilidade para manobrar. Eles são mais econômicos devido ao seu tamanho e muito   populares entre os motoristas mais jovens. 
  </div>
  </section>

<br>

  <section class="title">
    <h3>PICAPE</h3>
  </section>
  
  <section class="divisao">
  <div class="imagem">
        <img class="img" src="https://i.ibb.co/FJtxVnD/picape.jpg" >
  </div>
  <div class="texto">Camionete ou caminhonete, também referidos como picape ou carrinha de caixa aberta (do inglês pick-up), é um tipo de veículo automotor destinado a carga, com peso bruto total não superior a 3 500kg, que possui a parte superior traseira aberta, quase sempre separada da cabine.
  </div>
  </section>

<br>

  <section class="title">
    <h3>SEDAN</h3>
  </section>
  <section class="divisao">
  <div class="imagem">
        <img class="img" src="https://i.ibb.co/y8QKZZc/sedan.jpg" >
    </div>
  <div class="texto">Os carros dessa categoria têm a estrutura dividida em três partes: capô, área dos passageiros e porta-malas. Os automóveis sedan atendem principalmente aos consumidores que necessitam de um amplo porta-malas para suas atividades do dia a dia. 

 Além disso, eles são ideais para famílias um pouco maiores, visto que normalmente têm um espaço interno maior e conseguem acomodar todos de forma confortável. Na hora da troca por um modelo superior, os sedans ganham vantagens e têm um maior valor de revenda.
  </div>
  </section>
  
</div>